
$black: #000;
$white: #FFF;
$egg: rgb(255, 255, 255);
$dark-base: rgb(27, 27, 29);
$smoke: #4E4E50;
$shadow: rgb(119, 119, 119);
$mauve: rgb(110, 33, 48);
$lipstick: rgb(145, 7, 62);
$strawberry: #C3073F;