.container--index {
    width: 100%;
    display: block;
    a {
        color: $dark-base;
        text-decoration: none;
    }
    .container {
        .quote-block {
            i {
                display: inline-block;
                width: 5%;
                color: $strawberry;
                @include media-breakpoint-down (sm) {
                    width: 12%;
                }
            }
            h2 {
                margin-top: 40px;
                display: inline-block;
                width: 100%;
                font-family: $font-headers;
                font-size: $font-size-h2;
                text-align: left;
                letter-spacing: -1px;
                line-height: 45px;
                margin-bottom: 15px;
                font-weight: 600;
                padding-bottom: 15px;
                border-bottom: 1px solid $strawberry;
            }
            h3 {
                display: block;
                float: right;
                font-family: $font-body;
                font-size: $font-size-p;
                text-align: right;
                letter-spacing: -1px;
                margin-bottom: 40px;
                padding-bottom: 10px;
                border-bottom: 5px solid $smoke;
                font-weight: 600;
            }
        }
        .space-bar {
            display: block;
            height: 1px;
            border-bottom: 5px solid $shadow;
            margin: {
                top: 40px;
                bottom: 40px;
                left: 10px;
                ight: 10px;
            }
            width: calc(100% - 20px);
        }

    }
}