.container--index {
    width: 100%;
    display: block;
    a {
        color: $dark-base;
        text-decoration: none;
    }
    .container {
        .quote-block {
            h2 {
                margin-top: 40px;
                display: block;
                font-family: $font-headers;
                font-size: $font-size-h3;
                text-align: left;
                letter-spacing: -1px;
                margin-bottom: 10px;
            }
            h3 {
                display: block;
                float: right;
                font-family: $font-body;
                font-size: $font-size-p;
                text-align: right;
                letter-spacing: -1px;
                margin-bottom: 40px;
                border-bottom: 5px solid $black;
                font-weight: 600;
            }
        }
        .space-bar {
            display: block;
            height: 1px;
            border-bottom: 5px solid $shadow;
            margin: {
                top: 40px;
                bottom: 40px;
                left: 10px;
                ight: 10px;
            }
            width: calc(100% - 20px);
        }

    }
}