	<div class="container-fluid container--footer">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="page-footer"><i class="fas fa-bell"></i> <u>Bell&Weight</u></h2>
				</div>
			</div>
		</div>

	</div>
		<script type="text/javascript" src="/assets/js/main.js"></script>
	</body>
</html>