	<div class="container-fluid container--header">
		<div class="container">
		<div class="row">
			<div class="col-4">

			</div>
			<div class="col-4 text-center">
				<h2 class="page-title">of Bread and Blood</h2>
			</div>
			<div class="col-4 text-right">
				<span class="nav-items">about us</span>
				<span class="nav-items">contact us</span>
			</div>
		</div>
		</div>

	</div>
		<script type="text/javascript" src="./assets/js/main.js"></script>
	</body>
</html>