<!DOCTYPE html>
<html>
	<head>
		<title>enduro.js page</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Roboto+Slab:300&display=swap" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
	<div class="container-fluid container--header">
		<div class="container">
		<div class="row">
			<div class="col-4">

			</div>
			<div class="col-4 text-center">
				<h2 class="page-title">of Bread and Blood</h2>
			</div>
			<div class="col-4 text-right">
				<span class="nav-items">about us</span>
				<span class="nav-items">contact us</span>
			</div>
		</div>
		</div>

	</div>