<!DOCTYPE html>
<html>
	<head>
		<title>Bell & Weight
		</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Oranienbaum&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<style type="text/css"></style>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93481615-2"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-93481615-2');
		</script>
	</head>
	<body>
	<div class="container-fluid container--header">
		<div class="container">
		<div class="row">
			<div class="col-8 text-left">
				<a href="../"><h2 class="page-title"><i class="fas fa-bell"></i> <u>Bell&Weight</u></h2></a>
			</div>
			<div class="col-4 text-right"  style="opacity: 0.0 !important;">
				<span class="nav-items">about us</span>
				<span class="nav-items">contact us</span>
			</div>
		</div>
		</div>

	</div>
	<div class="container-fluid container--header-mobile">
		<div class="container" >
		<div class="row">
			<div class="col-2 text-left" style="opacity: 0.0 !important;">
				<a class="mobile-menu-link"><i class="fas fa-bars"></i>
					<div class="submenu">
						<span class="nav-items">about us</span>
						<span class="nav-items">contact us</span>
					</div>
				</a>
			</div>
			<div class="col-8 text-center">
				<a href="../"><h2 class="page-title"><i class="fas fa-bell"></i> <u>Bell&Weight</u></h2></a>
			</div>
			<div class="col-2"></div>
		</div>
		</div>

	</div>
	<div class="container-fluid global-container">

