.container--header {
    width: 100%;
    display: block;
    min-height: 160px;
    .page-title {
        color: $dark-base;
        font-size: 44px;
        display: inline-block;
        font-weight: 900;
        padding: {
            left: 10px;
            right: 10px;
            top: 70px;
        }
        border-bottom: 1px dotted $smoke;
        transition: color 0.3s ease;
        &:hover {
            animation: drop_border 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            color: $strawberry;
            @keyframes drop_border {
                0% {
                    border-bottom: 1px solid $smoke;
                }
                100% {
                    border-bottom: 30px solid $mauve;
                }
            }
        }
        cursor: pointer;
    }
    .nav-items {
        display: inline-block;
        color: $white;
        text-shadow: 0px 1px 3px #000;
        padding: { 
            left: 0px;
            right: 0px;
        }
        margin: {
            top: 59px;
            left: 5px;
            right: 5px;
        }
        text-decoration: none;
        line-height: 10px;
        border-bottom: 0px solid $smoke;
        transition: color 0.3s ease;
        &:hover {
            animation: drop_border 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            color: #fff;
            @keyframes drop_border {
                0% {
                    border-bottom: 1px solid $strawberry;
                }
                20% {
                    border-bottom: 2px solid $strawberry;
                }
                40% {
                    border-bottom: 3px solid $strawberry;
                }
                60% {
                    border-bottom: 4px solid $strawberry;
                }
                80% {
                    border-bottom: 5px solid $strawberry;
                }
                100% {
                    border-bottom: 6px solid $strawberry;
                }
            }
        }
        cursor: pointer;
    }
}

